.main{
    background-color: #eeeeee;
    height: 100%;
}
.card-main{
    background-color: #eeeeee;
    padding-top: 20px;
    height: 100%;
    padding-bottom: 20px;
}
.card{
   margin-left: 3%;
   margin-right: 3%;
   border-radius: 10px;
}
.content{
    padding: 10px;

}
.text-due{
    color: #757575;
}

.header{
    padding:20px;

}
.sort-content{
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.sort-item{
    display: flex;
}
.search{
    width: 100%;
}
.input{
    outline: none;
    border:none;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background-color:#f5f5f5;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-fluid .card{
    margin:8px;
    min-height: 220px;
    &-body{
        padding:15px;
       
    }
    &-top{
        display: flex;
       
        .info{
            margin-left: 0;
            padding-left: 0;
            display: flex;
            width: 100%;
            flex-direction: column;
            &-car{
                margin-top: 5px;
                span{
                    text-align: left;
                    font-size: 12px;
                 
                }
                span{
                    color: #9e9e9e;
                }
            }
        
        }
        .repair,.invoice{
            padding-left: 10px;
            font-size: 10px;
            padding-top: 2px;
            color: #9e9e9e;
            text-decoration: underline;
        }
        .whatsapp{
            color: green;
            margin-top: 20px;
            font-size: 13px;
        }
    }
    &-middle{
        .flex{
            width: 100%;
            .title{
                color: #9e9e9e;
                text-align: center;
                font-size: 9px;
            }
            .number{
                text-align: center;
                 font-size: 10px;
                 font-weight: 800;
            }
        }
            display: flex;
    
        
    }
    &-bottom{
        display: flex;
        .flex{
            width: 100%;
            .title{
                color: #9e9e9e;
                font-size: 9px;
            }
            .numberinfo{
                font-size: 12px;
                font-weight: 900;
          }
            .number{
                text-align: center;
                 font-size: 15px;
                 font-weight: 800;
            }
        }
    }
}

.container-fluid .item{
    cursor: move;
    padding-top: 3px;
    padding-bottom:3px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #fafafa;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .item:last-child {
    border: none;
  }

  .item.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  @media only screen and (max-width: 753px) {
    .card-top .col-6{
        width: 100%;
        float: right;
       
    }
  }